<h1>Switch</h1>

<input type="text" class="form-control" #newday>
<button class="btn btn-primary" (click)="dia= newday.value">
    Mostrar día
</button>

<div [ngSwitch]="dia" *ngIf="dia" class="dias">
    <span *ngSwitchCase="'1'">Lunes</span>
    <span *ngSwitchCase="'2'">Martes</span>
    <span *ngSwitchCase="'3'">Miercoles</span>
    <span *ngSwitchCase="'4'">Jueves</span>
    <span *ngSwitchCase="'5'">Viernes</span>
    <span *ngSwitchCase="'6'">Sabado</span>
    <span *ngSwitchCase="'7'">Domingo</span>
    <span *ngSwitchDefault>Valor no válido</span>
</div>